In [1]:
from src.data import get_df

In [2]:
df = get_df()

In [3]:
df.describe()

,name,department,position,responsibilities,email,phone,location,description,programs
count,124,124,124,124,124,124,124,124,124
unique,100,41,84,98,100,99,79,104,72
top,Jonas Becker,IT-Betrieb,Softwareentwickler,"IT-Support, Benutzerverwaltung",jonas.becker@rossmann-beispiel.de,05123-9876,B.1.2.36,Entwickelt und optimiert ML-Modelle. Ansprechp...,
freq,3,10,11,4,3,3,9,3,32

In [8]:
list(map(lambda row: row["name"], df.iloc))

['Lars Müller',
 'Sarah Wagner',
 'Johannes Schmidt',
 'Julia Neumann',
 'Thomas Becker',
 'Anna Fischer',
 'Peter Hoffmann',
 'Laura Klein',
 'Markus Braun',
 'Lisa Meier',
 'Christian Weber',
 'Melanie Richter',
 'Stefan Krüger',
 'Katrin Wolf',
 'David Schulz',
 'Sabine Lehmann',
 'Florian Sommer',
 'Jessica Koch',
 'Alexander König',
 'Vanessa Lang',
 'Martin Berg',
 'Claudia Schröder',
 'Felix Lange',
 'Tanja Fuchs',
 'Robert Schmitt',
 'Patrick Müller',
 'Stefanie Krause',
 'Klaus Meier',
 'Sergej Becker',
 'Sandra Weber',
 'Stefan Fischer',
 'Michael Schmitt',
 'Felix Braun',
 'Stefan Lang',
 'André Schmidt',
 'Oliver Müller',
 'Tim Bauer',
 'Enno Maier',
 'Matthias Hoffmann',
 'Andree Weber',
 'Sebastian Wagner',
 'Tim Kühn',
 'Christian Klein',
 'Sascha Peters',
 'Alexander Becker',
 'Claudia Wolf',
 'Niklas Schulz',
 'Laura Schröder',
 'Andreas Meissner',
 'Tobias Lang',
 'Carla Neumann',
 'Peter Hanke',
 'Lisa Brandt',
 'Karl Bauer',
 'Anna Meyer',
 'Thomas Weber',
 'Michael Fischer',
 'Clara Braun',
 'Jonas Becker',
 'Laura Klein',
 'Martin Wagner',
 'Julia Meier',
 'David Klein',
 'Lena Fischer',
 'Tim Schmitt',
 'Florian Müller',
 'Sarah Neumann',
 'Alexander Schmidt',
 'Nadine Weber',
 'Robert Hofmann',
 'Sarah Kühn',
 'Thomas Maier',
 'Laura Neumann',
 'Tobias Schäfer',
 'Jana Wagner',
 'Markus Schmidt',
 'Laura Fischer',
 'Peter Weber',
 'Anna Müller',
 'Jonas Becker',
 'Julia Meier',
 'David Klein',
 'Lena Fischer',
 'Tim Schmitt',
 'Florian Müller',
 'Sarah Neumann',
 'Alexander Schmidt',
 'Nadine Weber',
 'Robert Hofmann',
 'Sarah Kühn',
 'Thomas Maier',
 'Laura Neumann',
 'Tobias Schäfer',
 'Jana Wagner',
 'Michael Braun',
 'Anna Becker',
 'Felix Wagner',
 'Clara Meier',
 'Tim Becker',
 'Felix Maier',
 'Laura Becker',
 'Tim Braun',
 'Sarah Wagner',
 'Jonas Klein',
 'Paul Schmidt',
 'Lena Fischer',
 'Tim Becker',
 'Anna Müller',
 'Jonas Weber',
 'Laura Braun',
 'David Schmitt',
 'Lena Wagner',
 'Tim Klein',
 'Sarah Fischer',
 'Jonas Becker',
 'Laura Meier',
 'David Maier',
 'Lena Schmitt',
 'Tim Wagner',
 'Anna Becker',
 'Jonas Klein',
 'Laura Wagner',
 'David Schmitt',
 'Lena Meier']